<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Magrelin</title>
    </head>
    <body>
        <div>
            <h1 style="text-align: center; background: #ff0050; color: aliceblue"><a href="/">Magrelin Is Blog<a></a></h1>
            <h2 style="background: #13dc00; text-align: center;color: white">
                <a href="https://www.letras.mus.br/brother-do-magrelin/rip-magrelin/" style="color: #0014ff">Música do MAGRELIN</a>
            </h2>
        </div>
        <div>
            <p style="text-align: center;background: #09dc00; ">
                <br>
                "Mãe pelo amor de deus meu cachorro morreu"
                <br>
                Me da um minuto de silêncio com meu cachorro
                <br>
                "O porquê você foi partir o Magrelin?"
                <br>
                "Ai que saudade que sinto de tu todinho"
                <br>
                "E desde a época que eu parti e você ficou"
                <br>
                "Marcou atividade, aqui no meu quintal todinho"
                <br>
                "Agora eu voltei e você partiu"
                <br>
                "Não acredito Magrelin, puta que pariu"
                <br>
                "Agora eu estou aqui, tô boladão"
                <br>
                "O meu cachorro com vinte anos partiu, meu irmão"
                <br>
                "O Magrelin você descanse em paz"
                <br>
                "Meu coração está chorando, não aguenta mais"
                <br>
                "O meu cachorro morreu, e eu não quero saber"
                <br>
                "O liberdade deixa o meu cachorro que acabou de morrer"
                <br>
                "Deixei de comemorar, aqui com o meu cachorrinho"
                <br>
                "O vamo ai com o tempo, falar um pouquinho"
                <br>
                "Eu tenho uma história com o meu cachorro bolado"
                <br>
                "De mês em mês ele partiu todo dia"
                <br>
                "Ele viajava, ele entrava pra guerra"
                <br>
                <br>
                 <object width="425" height="350">
                <param name="movie" value="http://www.youtube.com/v/uIVEuZvIHsA" />
                 <embed src="http://www.youtube.com/v/uIVEuZvIHsA" type="application/x-shockwave-flash" width="425" height="350" />
             </object>
                <br>
                <br>
            </p>
        </div>
        {% for post in posts %}
            <div>
                <p>publicado em: {{ post.published_date }}</p>
                <h1 style="text-align: center"><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>